<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>

    <!-- fuente -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- link del css -->
    <link rel="stylesheet" href="../Assets/CSS/style.css">

    <style>
        .modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    }

        .module {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    }

    </style>

</head>
<body>
   
   <!-- inicio header -->

   <header>

    <a href="#" class="logo">Cyber Copias<span>.</span></a>


    <nav class="navbar">
        <a href="#">Ajustes</a>
        <a href="./homeU.html">Volver</a>
            
    </nav>    
   
   </header>

   <!-- final header -->
<!-- Empieza products -->
   
<section class="products" id="products">

<br><br><br><br><br>
    <h1 class="heading"> Lista De<span> Deseos</span></h1>


    <div class="box-container">


        <div class="box">
            <span class="discount"></span>
            <div class="image">
                <img src="..//img/prod-1.png" alt="">
            </div>
            <div class="content">  
                <h3>Cuaderno tapa dura</h3>
                <div class="price">$12.99 <span></span></div>
            </div>
        </div>


        <div class="box">
            <span class="discount"></span>
            <div class="image">
                <img src="../img/prod-2.png" alt="">
            </div>
            <div class="content">  
                <h3>Lapiz H2</h3>
                <div class="price">$12.99 <span></span></div>
            </div>
        </div>
       
        <div class="box">
            <span class="discount"></span>
            <div class="image">
                <img src="../img/prod-3.png" alt="">
            </div>
            <div class="content">  
                <h3>Saca puntas</h3>
                <div class="price">$12.99 <span></span></div>
            </div>
        </div>

</section>

   <!-- termina products -->

   <section id="modules" class="modules">
   <div class="module" id="online-sales">
    <h1>Pedidos</h1>
    <p>Aún no ha realizado pedidos</p>
    </div>
    </section>


</body>
</html>