<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/CSS/style.css">

    <style>
        .card {
            margin: 20px;
            padding: 20px;
            width: 250px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .card-header {
            background-color: #f0f0f0;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .card-body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">Proveedores<span>.</span></a> 
        <nav class="navbar">
            <a href="../View/homeA.html">Volver</a>
        </nav>          
    </header>
    <section class="home" id="home">
        <div class="card">
            <div class="card-header">
                <h2>Proveedor 1</h2>
            </div>
            <div class="card-body">
                <p>Información del proveedor 1</p>
                <ul>
                    <li>Dirección: Av. Ejemplo 123</li>
                    <li>Teléfono: 555-1234</li>
                    <li>Email: [proveedor1@example.com](mailto:proveedor1@example.com)</li>
                </ul>
            </div>
        </div>
        
    </section>
</body>
</html>